<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil Saya</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="konten">
    <img src="https://storage.googleapis.com/mgce_submissions/foto.jpg" alt="" class="foto">
    <h1>Setiawan Bayu Pratama</h1>
    <h3>Web Developer</h3>
    <p>My name is Setiawan and I'm a student in State University of Malang majoring in Informatics Education. I'm really
      passionate about web development and I like doing website projects. I was one of the developer team who developed
      SIMPI (Sistem Informasi Manajemen Praktik Industri) in my department. The system was built on PHP programming
      language using the CodeIgniter Framework. SIMPI is currently used by the students of Electrical Engineering
      Department in my University to manage the field industrial practice (Praktik Industri).
      Since then, I've been working as a Freelance Web Developer focusing on backend development using PHP with
      CodeIgniter Framework.</p>
    <ul>
      <li><a href="https://fb.com/uyabayu999" target="_blank">Facebook</a></li>
      <li><a href="https://instagram.com/uyabayu999" target="_blank">Instagram</a></li>
      <li><a href="https://twitter.com/uyabayu999" target="_blank">Twitter</a></li>
    </ul>
  </div>
</body>

</html>
